section
  h1 Thank You for Paying attention to Our Presentation

section
  h2 Quotes of the Day (QOTD)
  h2 With games, you can learn decision making and teamwork (team coordination) which are what developer team need. So treat your games not only as entertainment but also as education. :D
