section
  h1 DotA 2
  h2 PACP Teams

section
  ul
    li 
      h1 What is Dota 2 ???
    li 
      h3 Choose one of the following :
      ul
        li a. Foods
        li b. Drinks
        li c. A game
section
  h2 Noob !!!
  h3 None of your answers are correct ! GGWP !
  h2 So, the correct answer is ...

section
  h2 Dota2 is LOVE, Dota2 is LIFE, and Dota2 is ...
  ol
    li a F2P game
    li a MOBA game
    li developed and published by Valve Corp.
    li and the most popular game on Steam.

section
  h2 Dota2 is played in matches between two five-player teams, each of them try to destroy the other side's "Ancient" building, located within the opposing stronghold.

section
  h1 The History of DotA 2
  h2 THE EARLY DAYS: STARCRAFT
  h3 In 1998, Blizzard Entertainment released what would come to be the top selling PC game of all time, Starcraft. Included with this game were a host of map editing and creation tools called StarEdit.

section
  h2 THE ANCIENTS ARISE: WARCRAFT III
  h3 In 2003, the game changed. Literally. Blizzard released Warcraft III, along with its editing tools, and modders went crazy. A modder by the name of Eul began work to the new engine. This map was called Defense of the Ancients, or DotA.

section
  h2 ROSTER CHANGES: GUINSOO
  h3 At some point in 2004-2005, a modder named Guinsoo came to the scene and created his own version of DotA, very closely using the map from Eul's, but taking the most interesting heroes from various other versions. He called this "DotA: Allstars," and marks the start of what we think of today as DotA.

section
  h2 THE CREATOR DIVINE: ICEFROG
  h3 Guinsoo maintained the DotA: Allstars map for over two years, before handing it off to a modder you may have heard of: Icefrog! It's hard to describe what DotA was like during this transitional period. Icefrog is some sort of DotA savant.

section
  h2 A VICTOR ARISES: VALVE TAKES THE STAGE
  h3 In September of 2010, something magical happened. Valve Software announced their new in-house created game: Dota 2. Not only had it kept the DotA name (despite legal arguments), but it promised to keep the exact DotA experience in tact in a modern engine.

section
  div Currently DotA 2 has {{ heroes.length }} heroes.
  table.table-padding
    tr(style='padding :3x 8px')
      th(style='padding: 8px') Hero Name
    tr(ng-repeat='hero in heroes')
      td(ng-if='hero.id < 10') {{ hero.localized_name }}
      td(ng-if='hero.id < 10') <img src='images/heroes/{{ hero.name }}.jpg' title='{{ hero.localized_name }}' style='height:20px;width:35,55px' />

section
  div(style="width: 100%")
    md-grid-list(md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px")
      md-grid-tile(md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="hero in heroes" ng-if='$index < 10')
        img(src='images/heroes/{{ hero.name }}.jpg' title='{{ hero.localized_name }}')
        md-grid-tile-footer
          h3 {{ hero.localized_name }}

section
  div(style="width: 100%")
    md-grid-list(md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px")
      md-grid-tile(md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="item in items" ng-if="item.recipe !== 1 && item.id === 247")
        img(src='images/item/{{ item.name }}.png' title='{{ item.localized_name }}')
        md-grid-tile-footer
          h3 {{ item.localized_name }}
