section
  div(match-history style="width: inherit").md-inline-form
    md-content(layout-gt-sm="row" layout-padding)
      div
        md-input-container
          label User Account
          input(ng-model="accountUser" style="color:#000" on-enter="vm.findHistory()").hide-overflow
        md-input-container
          md-button.md-raised.md-primary(ng-click="vm.findHistory()") Find Match History
        md-input-container(ng-show="vm.hideSpinner")
          double-bounce-spinner
        md-input-container
          label Nickname
          input(ng-model="vm.user.personaname" disabled)
        md-input-container
          label Name
          input(ng-model="vm.user.realname" disabled)
  hr  
  div(style="width: inherit;" ng-if="vm.datas").match-history
    h4 Match History
    span(ng-class="{'disabled': vm.forPrev.length === 0}" ng-click="vm.findPrev()").fa.fa-chevron-circle-left.left
    span(ng-click="vm.findNext()").fa.fa-chevron-circle-right.right
    div(style="padding: 0 18px").row
      div(ng-repeat="match in vm.datas.matches").match-history-list
        md-button.md-primary(ng-show="{{ $index < 5 }}")
          a(href="#find-match-result" ng-click="find(match.match_id)") 
            span(style="color: #3288df; font-weight: bold") {{ match.match_id }}
            div(ng-repeat="player in match.players | filter: vm.steamId32bit")
              img(ng-repeat="hero in heroes" ng-if="hero.id === player.hero_id" src="images/heroes/{{ hero.name }}.jpg" title="{{ hero.localized_name }}")
      double-bounce-spinner.light-grey-spinner(ng-show="prenext")

section(data-bespoke-hash="find-match-result")
  div(match-detail).md-inline-form
    md-content(layout-gt-sm="row" layout-padding).hide-overflow
      div
        md-input-container
          label Match ID
          input.form-control(ng-model="matchID" style="color:#000" on-enter="find(matchID)" onfocus)
        md-input-container
          md-button.md-raised.md-primary(ng-click="find(matchID)") Find Match Result 
        md-input-container
          chasing-dots-spinner(ng-show="!hideSpinner").light-blue-spinner
    md-content(layout-padding ng-show="details").ta-left
      h3.dark-col <b>Match Date</b> = {{ details.start_time * 1000 | date: 'EEEE, dd-MMM-yyyy, HH:mm:ss'}}
      h3.dark-col <b>Duration</b> = {{ minute }}:{{ second }}

section
  div(ng-if="!details")
    h1 Search for a Match Detail
  div(match-detail ng-if="details" style="width: inherit")
    h3(ng-class="{'win': details.radiant_win, 'lose': !details.radiant_win}") Radiant <span ng-show="details.radiant_win">Win</span><span ng-show="!details.radiant_win">Lose</span>
    div.show-player.row(ng-show="playerInfo")
      div.player-avatar
        img(src="{{ playerInfo.avatar }}")
      div(layout="column" style="width: 70%")
        md-content(layout-padding)
          div.player-info
            table.table-padding.ta-left
              tr
                td <b>Nickname</b>
                td {{ playerInfo.nick }}
              tr(ng-show="playerInfo.lastlogoff")
                td <b>Last Log Off</b>
                td {{ playerInfo.lastlogoff | date: "dd - MMMM - yyyy, HH:mm:ss" }}
              tr
                td <b>Items Build</b>
                td
                  div(ng-repeat="item in playerInfo.items track by $index" class="item-build")
                    img(src="images/item/{{ item }}.png" title="{{ item.localized_name }}" ng-if="item != 'non'")
                    div.no-item(ng-if="item === 'non'") No Item
              tr
                td <b>Gold Per Min</b>
                td {{ playerInfo.gpm }}
              tr 
                td <b>Xp Per Min</b>
                td {{ playerInfo.xpm }}
      div.hr-line-dashed 
    div.row
      div.players-card(ng-repeat="data in details.players" ng-if="data.player_slot < 128" ng-class="{'sm-players-card': playerInfo}")
        div(ng-repeat="hero in heroes" ng-if="data.hero_id === hero.id").hide-overflow.hero-card
          img(src="images/heroes/{{ hero.name }}.jpg" title="{{ hero.localized_name }}")
          div(ng-if="data.account_id == 4294967295") Anonymous
            div(ng-click="insertInfo(data)").showing-player
          div(ng-if="data.account_id != 4294967295" ng-repeat="profile in profiles | filter: convertTo64Bit(data.account_id)") {{ profile.personaname }} 
            div(ng-click="insertInfo(data, profile)").showing-player

section
  div(ng-if="!details")
    h1 Search for a Match Detail
  div(match-detail ng-if="details" style="width: inherit")
    h3(ng-class="{'win': !details.radiant_win, 'lose': details.radiant_win}")  Dire <span ng-show="!details.radiant_win">Win</span><span ng-show="details.radiant_win">Lose</span>
    div.show-player.row(ng-show="playerInfo")
      div.player-avatar
        img(src="{{ playerInfo.avatar }}")
      div(layout="column" style="width: 70%")
        md-content(layout-padding)
          div.player-info
            table.table-padding.ta-left
              tr
                td <b>Nickname</b>
                td {{ playerInfo.nick }}
              tr(ng-show="playerInfo.lastlogoff")
                td <b>Last Log Off</b>
                td {{ playerInfo.lastlogoff | date: "dd - MMMM - yyyy, HH:mm:ss" }}
              tr
                td <b>Items Build</b>
                td
                  div(ng-repeat="item in playerInfo.items track by $index" class="item-build")
                    img(src="images/item/{{ item }}.png" title="{{ item.localized_name }}" ng-if="item != 'non'")
                    div.no-item(ng-show="item === 'non'") No Item
              tr
                td <b>Gold Per Min</b>
                td {{ playerInfo.gpm }}
              tr 
                td <b>Xp Per Min</b>
                td {{ playerInfo.xpm }}
      div.hr-line-dashed 
    div.row
      div.players-card(ng-repeat="data in details.players" ng-if="data.player_slot >= 128" ng-class="{'sm-players-card': playerInfo}")
        div(ng-repeat="hero in heroes" ng-if="data.hero_id === hero.id").hide-overflow.hero-card
          img(src="images/heroes/{{ hero.name }}.jpg" title="{{ hero.localized_name }}")
          div(ng-if="data.account_id == 4294967295") Anonymous
            div(ng-click="insertInfo(data)").showing-player
          div(ng-if="data.account_id != 4294967295" ng-repeat="profile in profiles | filter: convertTo64Bit(data.account_id)") {{ profile.personaname }} 
            div(ng-click="insertInfo(data, profile)").showing-player

