section
  div(match-detail layout="column" class="md-inline-form")
    md-content(layout-gt-sm="row" layout-padding).hide-overflow
      div
        md-input-container
          label Match ID
          input.form-control(ng-model="matchID" style="color:#000" on-enter="find()" onfocus)
        md-input-container
          md-button.md-raised.md-primary(ng-click="find()") Find Match Result 
    md-content(layout-padding ng-show="datas")
      table.stripe#matchResult.table-padding
        tr
          th No.
          th Name
          th Hero Id
          th Gold Per Min
          th Xp Per Min
        tr(ng-repeat="data in datas.players")
          td {{ $index + 1 }}
          td(ng-if="data.account_id == 4294967295") Anonymous
          td(ng-if="data.account_id != 4294967295" ng-repeat="profile in profiles | filter: convertTo64Bit(data.account_id)") {{ profile.personaname }}
          td(ng-if="data.hero_id <= 31") {{ heroes[data.hero_id - 1].localized_name }}
          td(ng-if="data.hero_id > 31") {{ heroes[data.hero_id - 2].localized_name }}
          td {{ data.gold_per_min }}
          td {{ data.xp_per_min }}

section
  div(match-history).md-inline-form
    md-content(layout-gt-sm="row" layout-padding).hide-overflow
      div
        md-input-container
          label Account Id
          input(ng-model="accountId" style="color:#000" on-enter="vm.findHistory()").hide-overflow
        md-input-container
          md-button.md-raised.md-primary(ng-click="vm.findHistory()") Find Match History
          div(ng-show="vm.hideSpinner")
            double-bounce-spinner
        md-input-container
          label Nickname
          input(ng-model="vm.user.personaname" disabled)
        md-input-container
          label Name
          input(ng-model="vm.user.realname" disabled)
    
    md-content(layout-padding ng-show="vm.datas")
      table.table-padding.stripe
        tr(style="padding: 3px 8px")
          th(style="padding: 8px") Match Id
          th(style="padding: 8px") Hero 
        tr(ng-repeat="match in vm.datas.matches")
          td {{ match.match_id }}
          td(style="padding: 0 8px" ng-repeat="player in match.players | filter:accountId" ng-if="player.hero_id <= 31") {{ heroes[player.hero_id - 1].localized_name }}
          td(style="padding: 0 8px" ng-repeat="player in match.players | filter:accountId" ng-if="player.hero_id > 31") {{ heroes[player.hero_id - 2].localized_name }}


