section
  div(match-history style="width: inherit").md-inline-form
    md-content(layout-gt-sm="row" layout-padding)
      div
        md-input-container
          label User Account
          input(ng-model="accountUser" style="color:#000" on-enter="vm.findHistory()").hide-overflow
        md-input-container
          md-button.md-raised.md-primary(ng-click="vm.findHistory()") Find Match History
        md-input-container(ng-show="vm.hideSpinner")
          double-bounce-spinner
        md-input-container
          label Nickname
          input(ng-model="vm.user.personaname" disabled)
        md-input-container
          label Name
          input(ng-model="vm.user.realname" disabled)
  hr  
  div(style="width: inherit" layout="column").md-inline-form
    md-content(layout-padding ng-if="vm.datas")
      table.table-padding.stripe(style="margin: 0 auto; width: 100%")
        tr(style="padding: 3px 8px")
          th(style="padding: 8px") Match Id
          th(style="padding: 8px") Hero 
        tr(ng-repeat="match in vm.datas.matches")
          td 
            a(href="#find-match-result" ng-click="find(match.match_id)") {{ match.match_id }}
          td
            div(style="padding: 0 8px" ng-repeat="player in match.players | filter: vm.steamId32bit" ng-if="player.hero_id <= 31") <img src="images/heroes/{{heroes[player.hero_id - 1].name}}.jpg" title='{{ heroes[player.hero_id - 1].localized_name }}'/>
            div(style="padding: 0 8px" ng-repeat="player in match.players | filter: vm.steamId32bit" ng-if="player.hero_id > 31") <img src="images/heroes/{{heroes[player.hero_id - 2].name}}.jpg" title='{{ heroes[player.hero_id - 2].localized_name }}'/>

section(data-bespoke-hash="find-match-result")
  div(match-detail).md-inline-form
    md-content(layout-gt-sm="row" layout-padding).hide-overflow
      div
        md-input-container
          label Match ID
          input.form-control(ng-model="matchID" style="color:#000" on-enter="find(matchID)" onfocus)
        md-input-container
          md-button.md-raised.md-primary(ng-click="find(matchID)") Find Match Result 
        md-input-container
          chasing-dots-spinner(ng-show="!hideSpinner").light-blue-spinner
    md-content(layout-padding ng-show="details")
      h3 Match Date : {{ details.start_time * 1000 | date: 'EEEE,dd-MMM-yyyy, HH:mm:ss'}}

section
  div(ng-if="!details")
    h1 Search for a Match Detail
  div(match-detail ng-if="details" style="width: inherit")
    h3 Radiant <span ng-show="details.radiant_win === true">Win</span><span ng-show="details.radiant_win === false">Lose</span>
    div.show-player.row(ng-show="playerInfo")
      div.player-avatar
        img(src="{{ playerInfo.avatar }}")
      div(layout="column" style="width: 70%")
        md-content(layout-padding)
          div.player-info
            table.table-padding.ta-left
              tr
                td <b>Nickname</b>
                td {{ playerInfo.nick }}
              tr(ng-show="playerInfo.lastlogoff")
                td <b>Last Log Off</b>
                td {{ playerInfo.lastlogoff | date: "dd - MMMM - yyyy, HH:mm:ss" }}
              tr
                td <b>Items Build</b>
                td
                  div(ng-repeat="item in playerInfo.items" class="item-build")
                    img(src="images/item/{{ item }}.png" title="{{ item.localized_name }}")
              tr
                td <b>Gold Per Min</b>
                td {{ playerInfo.gpm }}
              tr 
                td <b>Xp Per Min</b>
                td {{ playerInfo.xpm }}
      div.hr-line-dashed 
    div.row
      div.players-card(ng-repeat="data in details.players" ng-if="data.player_slot < 128" ng-class="{'sm-players-card': playerInfo}")
        div(ng-repeat="hero in heroes" ng-if="data.hero_id === hero.id" style="position: relative")
          img(src="images/heroes/{{ hero.name }}.jpg" title="{{ hero.localized_name }}")
          div(ng-if="data.account_id == 4294967295") Anonymous
            div(ng-click="insertInfo(data)").showing-player
          div(ng-if="data.account_id != 4294967295" ng-repeat="profile in profiles | filter: convertTo64Bit(data.account_id)") {{ profile.personaname }} 
            div(ng-click="insertInfo(data, profile)").showing-player

section
  div(ng-if="!details")
    h1 Search for a Match Detail
  div(match-detail ng-if="details" style="width: inherit")
    h3 Dire <span ng-show="details.radiant_win === false">Win</span><span ng-show="details.radiant_win === true">Lose</span>
    div.show-player.row(ng-show="playerInfo")
      div.player-avatar
        img(src="{{ playerInfo.avatar }}")
      div(layout="column" style="width: 70%")
        md-content(layout-padding)
          div.player-info
            table.table-padding.ta-left
              tr
                td <b>Nickname</b>
                td {{ playerInfo.nick }}
              tr(ng-show="playerInfo.lastlogoff")
                td <b>Last Log Off</b>
                td {{ playerInfo.lastlogoff | date: "dd - MMMM - yyyy, HH:mm:ss" }}
              tr
                td <b>Items Build</b>
                td
                  div(ng-repeat="item in playerInfo.items" class="item-build")
                    img(src="images/item/{{ item }}.png" title="{{ item.localized_name }}")
              tr
                td <b>Gold Per Min</b>
                td {{ playerInfo.gpm }}
              tr 
                td <b>Xp Per Min</b>
                td {{ playerInfo.xpm }}
      div.hr-line-dashed 
    div.row
      div.players-card(ng-repeat="data in details.players" ng-if="data.player_slot >= 128" ng-class="{'sm-players-card': playerInfo}")
        div(ng-repeat="hero in heroes" ng-if="data.hero_id === hero.id" style="position: relative")
          img(src="images/heroes/{{ hero.name }}.jpg" title="{{ hero.localized_name }}")
          div(ng-if="data.account_id == 4294967295") Anonymous
            div(ng-click="insertInfo(data)").showing-player
          div(ng-if="data.account_id != 4294967295" ng-repeat="profile in profiles | filter: convertTo64Bit(data.account_id)") {{ profile.personaname }} 
            div(ng-click="insertInfo(data, profile)").showing-player

