.bespoke-slide
  color #fff

.table-padding
  margin-top 5px
  th, td
    margin 0 5px
    padding 5px
table
  &.stripe
    stripe()

table
  &#matchResult
    &.stripe
      stripe()

body
  background #303030

.hide-overflow
  overflow hidden
