// Import CSS Files
@icon-font-path: '../fonts/'
@fa-font-path: '../fonts/'

@import 'prism/themes/prism-okaidia.css'
//@import 'bootstrap/dist/css/bootstrap.css'
@import 'font-awesome/css/font-awesome.css'
@import 'angular-material/angular-material.css'

@import 'mixins.styl'
@import 'spinner-animate.styl'
@import 'custom.styl'


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important;

