border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

stripe(even = #eee, odd = #ccc)
  tr
    background-color odd
    &.even
    &:nth-child(even)
      background-color even
    &:hover
      background-color #424242
      color #fff

$light-grey = #f2f2f2
$light-grey-bd = $e0e0e0

$danger = #c9302c
$danger-bd = #ac2925

$warn = rgb(225, 158, 128)
$warn-bd = rgb(205, 158, 128)

$light-blue = #3298df
$light-blue-bd = #3288ff
