doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title DotA2

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(ng-app="mainApp" ng-cloak)

    article
      include templates/history.jade

      include templates/match-statistic.jade

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

    script(src='build/build.min.js')
    script(src='build/extraJs.min.js')
