doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(ng-app="mainApp" ng-controller="testController" ng-cloak)

    article

      section
        h1 Hello  
          input(ng-model="greet")
          i.fa.fa-heart
          div(ng-click="greeting()" style="color:#3298df; cursor:pointer") Greet

      section
        div(test-http layout="column" class="md-inline-form")
          md-content(md-theme="docs-dark" layout-gt-sm="row" layout-padding).hide-overflow
            div
              md-input-container
                label Match ID
                input.form-control(ng-model="matchID" style="color:#000" on-enter="find()")
              md-input-container
                md-button.md-raised.md-primary(ng-click="find()") Find Match Result
          md-content(layout-padding)
            table.table.table-padding.stripe#matchResult.table-hover
              tr
                th No.
                th Acc Id
                th Hero Id
                th Gold Per Min
                th Xp Per Min
              tr(ng-repeat="data in datas.players")
                td {{ $index + 1 }}
                td {{ data.account_id }}
                td {{ data.hero_id }}
                td {{ data.gold_per_min }}
                td {{ data.xp_per_min }}

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys"</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.min.js')
    script(src='build/extraJs.min.js')
