doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title DotA2

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(ng-app="mainApp" ng-controller="MainController").ng-cloak
    include templates/audio.jade
    article
      include templates/history.jade

      include templates/match-statistic.jade

      include templates/prismcode.jade
      include templates/greet.jade
      
      section
        div.end-page
          h2 And thanks to our Developers 
          md-content.md-padding(layout-xs="column" layout="row" md-theme="docs-dark").ta-left
            md-card
              md-card-title(style="background: #932222")
                md-card-title-text
                  span.md-headline Christopher Ganda
                  span.md-subhead 141113368
                md-card-title-media.developer
                  div.md-media-md.card-media
                    img(src="images/team/christopher.png")
            md-card
              md-card-title(style="background: peru")
                md-card-title-text
                  span.md-headline Denny Ho
                  span.md-subhead 141110191
                md-card-title-media.developer
                  div.md-media-md.card-media
                    img(src="images/team/denny.jpg")
            md-card
              md-card-title(style="background: darkcyan")
                md-card-title-text
                  span.md-headline Edwin Harly
                  span.md-subhead 141111014
                md-card-title-media.developer
                  div.md-media-md.card-media
                    img(src="images/team/edwin.png")
            md-card
              md-card-title(style="background: #3278df")
                md-card-title-text
                  span.md-headline Ferry Irawan
                  span.md-subhead 141110507
                md-card-title-media.developer
                  div.md-media-md.card-media
                    img(src="images/team/ferry.png")
            md-card
              md-card-title(style="background: coral")
                md-card-title-text
                  span.md-headline Thomas Yaputra
                  span.md-subhead 141111201
                md-card-title-media.developer
                  div.md-media-md.card-media
                    img(src="images/team/thomas.png")
          md-content.md-padding(md-theme="docs-dark")
            div(style="width: 50%; margin: 0 auto")
              img(src="images/team/mikro.png" style="width: 100%")
    script(src='build/build.min.js')
    script(src='build/extraJs.min.js')
