doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 DotA 2
        h2 PACP Teams

      section
        ul
          li 
            h2 What is Dota 2 ???
          li 
            h3 Choose one of the following :
        ul
          li a. Foods
          li b. Drinks
          li c. A game
      section
        h2 Noob !!!
        h3 None of your answers are correct ! GGWP !
        h2 So, the correct answer is ...

      section
        h2 Dota2 is LOVE, Dota2 is LIFE, and Dota2 is ...
        ol
          li a F2P game
          li a MOBA game
          li developed and published by Valve Corp.
          li and the most popular game on Steam.

      section
        h2 Dota2 is played in matches between two five-player teams, each of them try to destroy the other side's "Ancient" building, located within the opposing stronghold.
        <img href="images/ancient.jpg/>

      section
        h1 Sejarah Lahirnya DotA
        h3 Defense of The Ancients pertama, awalnya dibuat oleh gamer yang kecanduan sama Warcraft III : Frozen Throne, nama pembuatnya yaitu "eul"(nickname). "Eul" hanya membuat beberapa map. Pahadal, dunia pada saat itu sangatlah antusias dengan game DotA ini. Kemudian, ada lagi gamer yg nickname-nya "guinsoo". "Guinsoo" juga nerusin project DOTA ini. Itu sebabnya di DOTA sampai sekarang memiliki item "Eul Scepter of Divinity" dan "Guinsoo Schyte of Vyse". Itu untuk menghargai usaha dari 2 gamer tersebut. Kemudian, muncul gamer yang  "IceFrog" , ini yg bisa dibilang "bapak-nya DOTA" . ditangan orang ini DOTA jadi ajib , improvisasi hero" & item , map" baru , dsb . ditangan dia ini juga-lah ampe sekarang jadi ada gagasan di DOTA itu kebagi 2 tim antara Scourge (kegelapan) & Sentinel (alam) . tapi kalo di DOTA 2 , jadi Dire ama Radiant ..
        
      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys"</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
