doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title DotA2

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(ng-app="mainApp" ng-controller="MainController").ng-cloak
    include templates/audio.jade
    article
      include templates/history.jade

      include templates/match-statistic.jade

      section(data-bespoke-hash='Spinner')
        h2 Look Spinners
        div(style="background:#777; padding:5px")
          div
            div
              rotating-plane-spinner
            label rotating-plane-spinner
          div
            div
              double-bounce-spinner.light-grey-spinner
            label double-bounce-spinner
          div
            div
              wave-spinner.danger-spinner
            label wave-spinner
          div
            div
              pulse-spinner.warn-spinner
            label pulse-spinner
          div
            div
              chasing-dots-spinner.light-blue-spinner 
            label chasing-dots-spinner
    
      include templates/prismcode.jade
      include templates/greet.jade
    script(src='build/build.min.js')
    script(src='build/extraJs.min.js')
